<!DOCTYPE html>
<html>
<head>
  <title>Renderizar imagen</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <h2>Generar imagen</h2>
  <form action="/render_image" method="POST">
    <input class="form-control" style="width: 300px;" type="text" name="image-url" placeholder="Ingresa un texto para generar imagen">
    <button class="btn btn.outline-primary" style="margin: 20px; " type="submit">Renderizar</button>
  </form>
</body>
</html>
